.blink {
  animation: blink 0.5s infinite;
  font-size: 50px;
  color: white;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

header {
  text-align: center;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  color: #999999;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}

/* Window 1 */
#window1 {
  background-image: url('big.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
#intro {
  position: absolute;
  top: 50%;
  height: 240px;
  margin-top: -200px;
}
#intro_text_box {
  text-align: center;
}
#intro #intro_text {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 600;
  font-size: 44px;
  left: 50%;
  color: #ffffff;
  text-align: center;
}
#button_box {
  position: absolute;
  top: 70%;
  height: 240px;
  text-align: center;
}
#button {
  width: 300px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  animation: fadein 10s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
#button p:hover {
  font-size: 0;
}
#button p:hover::before {
  font-size: 25px;
  font-weight: 900;
  font-weight: bold;
  color: #ea4579;
}

#button p:hover:before {
  content: '클릭 시 스킵합니다';
}

/* Window2 */
#window2 {
  background-image: url('big.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#mock {
  max-width: 800px;
  margin-left: 80px;
  -webkit-flex: 1;
  flex: 1;
}
#myself {
  -webkit-flex: 1;
  flex: 1;
  vertical-align: middle;
}
#myself h1 {
  margin-top: 50%;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
#myself h2 {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
#catchme {
  text-decoration: none;
  color: #ea4579;
  font-weight: 600;
}

/* Window 3 */
#window3 {
  background-image: url('big.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#window3 h1 {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 800;
  font-size: 30pt;
  line-height: 1.5;
  color: #ea4579;
  text-align: center;
}
.container {
  display: -webkit-flex;
  display: flex;
  margin-top: 40px;
}
.hobby {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.hobby_img {
  max-width: 250px;
  display: inline;
}
.hobby_text {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* Window 4 */
#window4 {
  background-image: url('how.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#window4 h1 {
  padding-top: 120px;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 600;
  font-size: 44px;
  color: #ffffff;
  line-height: 5;
  text-align: center;
}
#window4 h1 span {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
}

/* Window 5 */
#window5 {
  background-image: url('big.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#window5 #mock_img {
  max-width: 700px;
}

/* Window 6 */
#window6 {
  background-image: url('big.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#window6 h1 {
  padding-top: 140px;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.5;
  color: white;
  text-align: center;
}
#window6 #input_email {
  background-color: #1c1c1c;
  border: 10px solid #ea4579;
  border-radius: 5px;
  padding: 30px;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
  width: 600px;
  height: 20px;
}

#window6 #submit_email {
  background-color: #1c1c1c;
  border: none;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 500;
  font-size: 25pt;
  color: #ffffff;
  width: 100px;
  height: 95px;
  margin-left: 30px;
}

#window6 #submit_email:hover {
  content: '\1f680';
  background-color: #1c1c1c;
  border: none;
}
#window6 #submit_email p:hover::before {
  font-size: 25px;
  content: '\1f680';
}

#window6 #submit_email p:hover:before {
  content: '\1f680';
}

#bottom_button_box {
  text-align: center;
}
#bottom_button_box #up_button {
  width: 300px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  animation: fadein 10s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

#bottom_button_box p:hover {
  font-size: 0;
}
#bottom_button_box p:hover::before {
  font-size: 25px;
  font-weight: 900;
  font-weight: bold;
  color: #ea4579;
}

#bottom_button_box p:hover:before {
  content: '클릭 시 상단으로 돌아갑니다.';
}

#sform {
  display: inline-block;
  height: 300px;
  text-align: center;
  margin-top: 100px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}
.thankyou_message {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 15pt;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}
